html, body {
    margin: 0;
    height:100%;
    width: 100%;
    overflow: hidden;
}

#wrapper {
   pointer-events : none;

    position: absolute;
    top:0px;
    width:100%;
    /*overflow:auto;*/
}
#log {

    display: block-inline;
    height: 50px;
    width: 700px;
    float: right;
    background-color: gray;
    z-index: 999;
    opacity: 0.8;
    border-bottom-left-radius:5px;
    font-size: 20px;
    font-weight: bold;
}
#conversationContainer {
    /*visibility: hidden;     /*Hidden by default, activated by javascript code*/
    pointer-events : none;  /*Does not allow the element to block the game's nagivating cursor*/
    position: absolute;
    height: auto;
    width: 24%;

    top: 30%;
    left: 1%;
    background-color: #16243a;
    border-radius: 7px;
    opacity: 0.9;
    font-size: 20px;
    color: #999999;
    border-style: double;
    border-width: 1px;
    border-color: grey;

}
/*Classes for triggering visibility status of the message window
    Only method of changing visibility status is by classes*/
.notVisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}


#conversation{
    position: relative;
    height: 100%;
    width:100%;
}
form{

    margin-top:-15px;
    position: relative;
    min-height: 70%;
    width:100%;
}

fieldset{

    height: 70%;
    display: block;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    left: 0px;
    border-left-width: 1px;
        border-right-width: 1px;
        padding-bottom: 0px;
}
h3{
    top: -20px;
}
#conversationText{
    position:relative;
    top:-30px;
    font-size: 25px;
    font-style: italic;
    font-family: Garamond;
    margin-top: 15px;
    margin-bottom:0px;
}

#messageInfo{
    text-align: center;
    font-size: 15px;
    padding-top:7px;
    font-style: normal;
    padding-bottom: 7px;

}